<div class="container" *ngIf="!isLoading; else loading">
  <a *ngFor="let pokemon of pokemons; let i = index" class="pokemon-card" [routerLink]="['/pokemon', pokemon.id]">
    <button class="play-sound-button" (click)="playSound(pokemon, $event)">
      <span class="play-icon"></span>
    </button>
    <div class="pokemon-image-container">
      <div class="card-flipper" [class.flipped]="pokemon.showBack && pokemon.sprites.back_default">
        <div class="card-front">
          <img *ngIf="pokemon.sprites.front_default" [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" width="150" height="150" />
          <img *ngIf="!pokemon.sprites.front_default" [src]="fallbackImageDataUri" alt="No image available" class="fallback-image" width="150" height="150" />
        </div>
        <div class="card-back" *ngIf="pokemon.sprites.back_default">
          <img *ngIf="pokemon.sprites.back_default" [src]="pokemon.sprites.back_default" alt="{{ pokemon.name }} (back)" width="150" height="150" />
          <img *ngIf="!pokemon.sprites.back_default" [src]="fallbackImageDataUri" alt="No image available" class="fallback-image" width="150" height="150" />
        </div>
      </div>
    </div>
    <div class="pokemon-info">
      <p class="pokemon-id">#{{ pokemon.id.toString().padStart(3, '0') }}</p>
      <h3 class="pokemon-name">{{ pokemon.name | capitalize }}</h3>
      <div class="pokemon-types">
        <span *ngFor="let typeInfo of pokemon.types" class="type-badge type-{{ typeInfo.type.name }}">
          {{ typeInfo.type.name | capitalize }}
        </span>
      </div>
    </div>
  </a>
</div>

<ng-template #loading>
  <div class="loading">Carregando...</div>
</ng-template>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div class="pagination-controls" *ngIf="!isLoading && totalPages > 1 && !isSearching">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <ng-container *ngFor="let pageItem of pageNumbers">
    <button *ngIf="typeof pageItem === 'number'" (click)="goToPage(pageItem)" [class.active]="currentPage === pageItem">
      {{ pageItem }}
    </button>
    <span *ngIf="typeof pageItem === 'string'" class="pagination-ellipsis">{{ pageItem }}</span>
  </ng-container>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
